.list {
    
    list-style: none;
    height: 40px;
}

.block {
    height: 40px;
    width: 40px;
    display: inline-block;

}

.list a {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 20;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.list p {
    display: inline-block;
}

