.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.container p {
    margin-top: 10px;
}

.imageContainer {
    border-radius: 8px;
    overflow: hidden;
    margin-right: 30px;
}