.container {
    list-style: none;
}

.container a {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}

.container p {
    margin-top: 10px;
}

.imageContainer {
    border-radius: 8px;
    overflow: hidden;
    margin-right: 30px;
}

.textContainer {
    width: 50%;
}