.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-bottom: 40px;
    text-align: center;
}

.container div {
    display: block;
    margin-bottom: 10px;
}

.container button {
    display: block;
}